@page "/"
@using PSchool.Client.Components

<PageTitle>Students</PageTitle>

<h1>Students List</h1>

<StudentsTable CurrentPage="currentPage" OnPageChanged="OnPageChanged"/>

@code {
    private int currentPage = 1;

    private async Task OnPageChanged(int page)
    {
        currentPage = page;
    }
}